.one-column-layout.container {
   position: relative
}

.one-column-layout .ax-footer {
   margin-top: 20px
}

img {
    width: 150px;
}
li {
    list-style: none;
}
button {
    margin-left: 50px;
    color: white;
    background: #00a8e6;
    text-align: center;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
}
button:hover {
    opacity: 0.5;
}
button:active {
    opacity: 1.0;
    background: deeppink;
}
button[disabled] {
    background: #999;
}
